{% extends "layout.twig" %}
{% block content %}
<div class="container p-t-2">
    <h2>Buttons</h2>
    <h5 class="p-t-1">Buttons</h5>
    <div>{% include 'buttons/buttons.twig' %}</div>
    <h5 class="p-t-1">Buttons .active</h5>
    <div>{% include 'buttons/buttons_active.twig' %}</div>
    <h5 class="p-t-1">Outline buttons</h5>
    <div>{% include 'buttons/outline_buttons.twig' %}</div>
    <h5 class="p-t-1">Outline buttons .active</h5>
    <div>{% include 'buttons/outline_buttons_active.twig' %}</div>
    <h5 class="p-t-1">Checkbox buttons</h5>
    <div>{% include 'buttons/checkbox.twig' %}</div>
    <h5 class="p-t-1">Radio buttons</h5>
    <div>{% include 'buttons/radio_buttons.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Button group</h2>
    <h5 class="p-t-1">Basic</h5>
    <div>{% include 'button_group/basic.twig' %}</div>
    <h5 class="p-t-1">Button toolbar</h5>
    <div>{% include 'button_group/button_toolbar.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'button_group/sizing.twig' %}</div>
    <h5 class="p-t-1">Nesting</h5>
    <div>{% include 'button_group/nesting.twig' %}</div>
    <h5 class="p-t-1">Vertical</h5>
    <div>{% include 'button_group/vertical.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Button dropdown</h2>
    <h5 class="p-t-1">Single button dropdowns</h5>
    <div>{% include 'button_dropdown/single_button_dropdowns.twig' %}</div>
    <h5 class="p-t-1">Split button dropdowns</h5>
    <div>{% include 'button_dropdown/split_button_dropdowns.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'button_dropdown/sizing.twig' %}</div>
    <h5 class="p-t-1">Dropup variation</h5>
    <div>{% include 'button_dropdown/dropup_variation.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Forms</h2>
    <h5 class="p-t-1">Form controls</h5>
    <div>{% include 'forms/form_controls.twig' %}</div>
    <h5 class="p-t-1">Form groups</h5>
    <div>{% include 'forms/form_groups.twig' %}</div>
    <h5 class="p-t-1">Inline forms</h5>
    <div>{% include 'forms/inline_forms.twig' %}</div>
    <h5 class="p-t-1">Checkboxes and radios</h5>
    <div>{% include 'forms/checkboxes_and_radios.twig' %}</div>
    <h5 class="p-t-1">Static_controls</h5>
    <div>{% include 'forms/static_controls.twig' %}</div>
    <h5 class="p-t-1">Disabled states</h5>
    <div>{% include 'forms/disabled_states.twig' %}</div>
    <h5 class="p-t-1">Readonly inputs</h5>
    <div>{% include 'forms/readonly_inputs.twig' %}</div>
    <h5 class="p-t-1">Control sizing</h5>
    <div>{% include 'forms/control_sizing.twig' %}</div>
    <h5 class="p-t-1">Validation</h5>
    <div>{% include 'forms/validation.twig' %}</div>
    <h5 class="p-t-1">Custom forms</h5>
    <div>{% include 'forms/custom_forms.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Input group</h2>
    <h5 class="p-t-1">Basic example</h5>
    <div>{% include 'input_group/basic_example.twig' %}</div>
    <h5 class="p-t-1">Checkboxes and radio addons</h5>
    <div>{% include 'input_group/checkboxes_and_radio_addons.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'input_group/sizing.twig' %}</div>
    <h5 class="p-t-1">Button addons</h5>
    <div>{% include 'input_group/button_addons.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Dropdowns</h2>
    <div>{% include 'dropdowns/dropdowns.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Jumbotron</h2>
    <div>{% include 'jumbotron/jumbotron.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Label</h2>
    <div>{% include 'labels/labels.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Alerts</h2>
    <div>{% include 'alerts/alerts.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Card</h2>
    <h5 class="p-t-1">Content types</h5>
    <div>{% include 'card/content_types.twig' %}</div>
    <h5 class="p-t-1">Header and footer</h5>
    <div>{% include 'card/header_and_footer.twig' %}</div>
    <h5 class="p-t-1">Image caps</h5>
    <div>{% include 'card/image_caps.twig' %}</div>
    <h5 class="p-t-1">Image overlays</h5>
    <div>{% include 'card/image_overlays.twig' %}</div>
    <h5 class="p-t-1">Inverted text</h5>
    <div>{% include 'card/inverted_text.twig' %}</div>
    <h5 class="p-t-1">Background variants</h5>
    <div>{% include 'card/background_variants.twig' %}</div>
    <h5 class="p-t-1">Groups</h5>
    <div>{% include 'card/groups.twig' %}</div>
    <h5 class="p-t-1">Decks</h5>
    <div>{% include 'card/decks.twig' %}</div>
    <h5 class="p-t-1">Columns</h5>
    <div>{% include 'card/columns.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Navs</h2>
    <h5 class="p-t-1">Base nav</h5>
    <div>{% include 'navs/base_nav.twig' %}</div>
    <h5 class="p-t-1">Inline</h5>
    <div>{% include 'navs/inline.twig' %}</div>
    <h5 class="p-t-1">Pills</h5>
    <div>{% include 'navs/pills.twig' %}</div>
    <h5 class="p-t-1">Stacked pills</h5>
    <div>{% include 'navs/stacked_pills.twig' %}</div>
    <h5 class="p-t-1">Tabs</h5>
    <div>{% include 'navs/tabs.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Navbar</h2>
    <h5 class="p-t-1">Supported content</h5>
    <div>{% include 'navbar/supported_content.twig' %}</div>
    <h5 class="p-t-1">Brand</h5>
    <div>{% include 'navbar/brand.twig' %}</div>
    <h5 class="p-t-1">Nav</h5>
    <div>{% include 'navbar/nav.twig' %}</div>
    <h5 class="p-t-1">Color schemes</h5>
    <div>{% include 'navbar/color_schemes.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Breadcrumb</h2>
    <div>{% include 'breadcrumb/breadcrumb.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Pagination</h2>
    <h5 class="p-t-1">Default</h5>
    <div>{% include 'pagination/default_pagination.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'pagination/sizing.twig' %}</div>
    <h5 class="p-t-1">Pager</h5>
    <div>{% include 'pagination/pager.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Progress</h2>
    <div>{% include 'progress/example.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>List group</h2>
    <div>{% include 'list_group/example.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Modal</h2>
    <div>{% include 'modal/example.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Tooltips</h2>
    {# TODO Fix. Not working #}
    <div>{% include 'tooltips/example.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Popovers</h2>
    {# TODO Fix. Not working #}
    <div>{% include 'popovers/example.twig' %}</div>
</div>
{# TODO Implement other components #}
{#Scrollspy#}
{#Collapse#}
{#Carousel#}
{#Utilities#}
{% endblock %}