<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/app.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">-->
    <style>

    </style>
</head>
<body>
<div class="container p-t-2">
    <h2>Buttons</h2>
    <h5 class="p-t-1">Buttons</h5>
    <div>{% include 'buttons/buttons.twig' %}</div>
    <h5 class="p-t-1">Buttons .active</h5>
    <div>{% include 'buttons/buttons_active.twig' %}</div>
    <h5 class="p-t-1">Outline buttons</h5>
    <div>{% include 'buttons/outline_buttons.twig' %}</div>
    <h5 class="p-t-1">Outline buttons .active</h5>
    <div>{% include 'buttons/outline_buttons_active.twig' %}</div>
    <h5 class="p-t-1">Checkbox buttons</h5>
    <div>{% include 'buttons/checkbox.twig' %}</div>
    <h5 class="p-t-1">Radio buttons</h5>
    <div>{% include 'buttons/radio_buttons.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Button group</h2>
    <h5 class="p-t-1">Basic</h5>
    <div>{% include 'button_group/basic.twig' %}</div>
    <h5 class="p-t-1">Button toolbar</h5>
    <div>{% include 'button_group/button_toolbar.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'button_group/sizing.twig' %}</div>
    <h5 class="p-t-1">Nesting</h5>
    <div>{% include 'button_group/nesting.twig' %}</div>
    <h5 class="p-t-1">Vertical</h5>
    <div>{% include 'button_group/vertical.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Button dropdown</h2>
    <h5 class="p-t-1">Single button dropdowns</h5>
    <div>{% include 'button_dropdown/single_button_dropdowns.twig' %}</div>
    <h5 class="p-t-1">Split button dropdowns</h5>
    <div>{% include 'button_dropdown/split_button_dropdowns.twig' %}</div>
    <h5 class="p-t-1">Sizing</h5>
    <div>{% include 'button_dropdown/sizing.twig' %}</div>
    <h5 class="p-t-1">Dropup variation</h5>
    <div>{% include 'button_dropdown/dropup_variation.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Forms</h2>
    <h5 class="p-t-1">Form controls</h5>
    <div>{% include 'forms/form_controls.twig' %}</div>
    <h5 class="p-t-1">Form groups</h5>
    <div>{% include 'forms/form_groups.twig' %}</div>
    <h5 class="p-t-1">Inline forms</h5>
    <div>{% include 'forms/inline_forms.twig' %}</div>
    <h5 class="p-t-1">Checkboxes and radios</h5>
    <div>{% include 'forms/checkboxes_and_radios.twig' %}</div>
    <h5 class="p-t-1">Static_controls</h5>
    <div>{% include 'forms/static_controls.twig' %}</div>
    <h5 class="p-t-1">Disabled states</h5>
    <div>{% include 'forms/disabled_states.twig' %}</div>
    <h5 class="p-t-1">Readonly inputs</h5>
    <div>{% include 'forms/readonly_inputs.twig' %}</div>
    <h5 class="p-t-1">Control sizing</h5>
    <div>{% include 'forms/control_sizing.twig' %}</div>
    <h5 class="p-t-1">Validation</h5>
    <div>{% include 'forms/validation.twig' %}</div>
    <h5 class="p-t-1">Custom forms</h5>
    <div>{% include 'forms/custom_forms.twig' %}</div>
</div>
{# TODO Implement other components #}
{#Dropdowns#}
{#Jumbotron#}
{#Label#}
{#Alerts#}
{#Card#}
{#Navs#}
<div class="container p-t-2">
    <h2>Navbar</h2>
    <h5 class="p-t-1">Supported content</h5>
    <div>{% include 'navbar/supported_content.twig' %}</div>
    <h5 class="p-t-1">Brand</h5>
    <div>{% include 'navbar/brand.twig' %}</div>
    <h5 class="p-t-1">Nav</h5>
    <div>{% include 'navbar/nav.twig' %}</div>
    <h5 class="p-t-1">Color schemes</h5>
    <div>{% include 'navbar/color_schemes.twig' %}</div>
</div>
<div class="container p-t-2">
    <h2>Breadcrumb</h2>
    <h5 class="p-t-1">Breadcrumb</h5>
    <div>{% include 'breadcrumb/breadcrumb.twig' %}</div>
</div>
{# TODO Implement other components #}
{#Pagination#}
{#Progress#}
{#List group#}
{#Modal#}
{#Scrollspy#}
{#Tooltips#}
{#Popovers#}
{#Collapse#}
{#Carousel#}
{#Utilities#}
</body>
</html>